@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 text-align: center;
 font-family: 'Kanit', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}
body{
    background-color: #000;
}
.text{
    margin-top: 15px;
    padding: 0px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;

}
.calculatorForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.calculator{
    background-color: #242424;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}
.btn{
    margin-left: 15px;
    width: 180px;
    height: 30px;
}
.btn:hover{
    background-color: #22e209;
    border: none;
}
.preview{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.preview p{
    margin-right: 10px;
}
.previewBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box div {
    background-image: url(assets/RGBLogo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.b{
    padding-top: 20px;
}
.alert{
    height: 10px;
    font-size: .9em;
    padding: 8px;
    color: red;
 }
 .result{
    margin-top: 10px;
 }
.position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxSize{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 30px;
}
.size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countV{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: 80px;
    height: 110px;
    color: #000;
}
.count{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    width: 110px;
    height: 80px;
    color: #000;
}
.newdiv{
    position: absolute;
    font-size: 20px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.paper{
    background-color: #9f9f9f;
    border: 1px dashed #7a7a7a ;
}
@media (max-width: 800px) {
    .calculatorForm{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

  }